 <div class="container"> 
    <div class="card-group" >
      <!-- <div *ngFor="let movie of targetMovies"> -->
        <div *ngFor="let movie of nVisibles">
              <div class="card border-dark text-white bg-dark mb-3" style="max-width: 16rem;  max-width: 14rem;">
                <img class="card-img-top" src = {{movie.imagen}} alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{movie.calificacion}}</h5>
                  <h4 class="card-title">{{movie.nombre}}</h4>
                </div>
                <div class="card-footer">
                  <small class="btn">Trailer</small>
                </div>
              </div>
              
      </div>
    </div>
    <a class="carousel-control-prev" role="button" (click)="prevCard()" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next"  role="button" (click)="nextCard()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>   